<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Lijst.css') }}">
    <title>Lijst</title>
</head>
<body>
    
    <header class="header">
        <a href="#" class="Logo">Peppa</a>
        <nav class="navbar">
            <a href="{{url_for('AddFilm')}}">Voeg films toe</a>
            <a href="{{url_for('DeleteFilm')}}">Verwijder films</a>
            <a href="{{url_for('AddReg')}}">Voeg regisseur toe</a>
            <a href="{{url_for('DeleteReg')}}">Verwijder regisseur</a>
            <a href="{{url_for('Logout')}}">Log uit</a>
        </nav>
    </header>    
    
    
    
    <div class = "Wrapper">
        <h1>Alle Films</h1>
        <ul class = "lijst">
            {% for Film in Films %}
            <li>
                <h3>{{Film.ID}}. {{Film.Titel}}</h3>
                <p>Gemaakt door: {{Film.regisseur.Voornaam}} {{Film.regisseur.Achternaam}}</p>
                <p>Jaartal : {{Film.Jaar}}</p>
                <p>Leukste Moment : {{Film.Leuk}}</p>
            </li>
            {% endfor %}
        </ul>
        <a href="{{url_for('AddFilm')}}"><button class="AddRemove">Voeg toe</button></a>
        <a href="{{url_for('DeleteFilm')}}"><button class="AddRemove">Verwijder</button></a>
    </div>
<!--    <a href="{{url_for('Logout')}}"><button class="Logout">Uitloggen</button></a>-->
</body>
</html>