<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Lijst.css') }}">
    <title>Lijst</title>
</head>
<body>
    <div class = "Wrapper">
        <h1>Alle Films</h1>
        <ul class = "lijst">
            {% for Film in Films %}
            <li>
                <h3>{{Film.ID}}. {{Film.Titel}}</h3>
                <p>Gemaakt in: {{Film.Jaar}}, Leukste Moment : {{Film.Leuk}}</p>
            </li>
            {% endfor %}
        </ul>
        <a href="{{url_for('AddFilm')}}"><button class="AddRemove">Voeg toe</button></a>
        <a href="{{url_for('DeleteFilm')}}"><button class="AddRemove">Verwijder</button></a>
    </div>
    <a href="{{url_for('Logout')}}"><button class="Logout">Uitloggen</button></a>
</body>
</html>