<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lijst</title>
</head>
<body>
    <h1>Film lijst</h1>
    <a href="{{url_for('AddFilm')}}">Voeg Film toe</a><br>
    <a href="{{url_for('DeleteFilm')}}">Verwijder Film</a><br>
    <div>
        <ul>
            {% for Film in Films %}
            <li>
                <h3>{{Film.Titel}}</h3>
                <p>Jaar: {{Film.Jaar}}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>